* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.source-code {
  font-family: source-code-pro, Courier New;
}

.output,
.output-bg {
  background-color: #DFDFDF;
}

.output {
  width: 1em;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
}

.instr-bg {
  background-color: #E6F3FF;
}

.instr-bg a {
  color: inherit;
  cursor: pointer;
}

.stack-bg {
  background-color: #F8DCB4;
}

.display-bg {
  background-color: #ffd7d7;
}

.memory-block {
  width: 1.8em;
  display: inline-block;
  text-align: center;
}

.marker {
  width: 1.8em;
  color: #FFF;
  border-radius: 2px;
}

.marker-ip {
  background-color: #428BCA;
}

.marker-sp {
  background-color: #EEA236;
}

.marker-dp {
  background-color: #D9534F;
}

.marker-a {
  background-color: #4D8C20;
}

.marker-b {
  background-color: #22D19D;
}

.marker-c {
  background-color: #A137ED;
}

.marker-d {
  background-color: #E81F1F;
}

.codelabel-line a {
  cursor: pointer;
}

.debug {
  background-color: red;
  border: 1px solid lime;
}

.main {
  display: flex;
}

.editor {
  width: 33%;
  padding: 10px;
}

.col1 {
  width: 33%;
  padding: 10px;
}

.col2 {
  width: 33%;
  padding: 10px;
}

textarea {width: 100%;}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > .actions {
  display: flex;
}

.navbar .btn-group {
  display: flex;
  align-items: center;
}

button {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
}

table td:nth-child(odd),
table th:nth-child(odd) {
  background-color: #f2f2f2; /* Replace with your desired color */
}

a[ng-click] {
  text-decoration: underline;
  color: blue;
  padding: 2px;
  transition: .1s all;
  border-radius: 5px;
}

a[ng-click]:hover {
  cursor: pointer;
  background-color: lightgray;
}