name: Deploy via SSH
on: 
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.1
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        proxy_host: ${{ secrets.SSH_HOST_PROXY }}
        proxy_username: ${{ secrets.SSH_USERNAME_PROXY }}
        proxy_key: ${{ secrets.SSH_KEY_PROXY }}
        script: |
          # git update to latest codebase on main branch
          cd /share_data/assembler-simulator && pm2 delete all ; pm2 start "npm run dev -- --host 127.0.0.1" --name "asm" 
